/* Tablet Version Media Queries (425-768px) */
@media (width <= 820px) { 
    .check {
        display: block;
    }
    .navbar {
        height: 6rem;
        padding: 0;
    }
    .navbar ul {
        position: fixed;
        width: 100%;
        height: 100dvh;
        top: 6rem;
        left: 100%;
        flex-direction: column;
        background: hsla(240, 86%, 26%, 0.85);
        backdrop-filter: blur(6px);
    }
    .navbar ul a {
        font-size: 2rem;
        margin: 2rem;
        text-align: center;
    }
    #check:checked ~ ul { /* Navbar dropdown */
        left: 0;
    }
    .read-box {
        flex-direction: column;
    }
    .read-box figure {
        width: 80%;
        margin: 2rem auto;
        padding: var(--text-2);
    }
}

/* Mobile Media Queries */
@media (width <= 465px) {
    #food button {
        opacity: 1;
        transform: scale(1);
        top: 40%;
    }
    #scrollTop:hover {
        border: none;
        transform: none;
        color: var(--background);
        background: var(--primary);
    }
}